@use "reset";
@use "global";
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

/* 全域*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: "Noto Sans", sans-serif;
}
